<div class="mt-4">
    <h3>my video</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">stt</th>
                <th scope="col">Tên video</th>
                <th scope="col">phù hợp với</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id = "{{this._id}}" data-bs-target="#exampleModal">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete --}}
<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do u wana dele?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">HUY</button>        
        <button id ="btn-delete" type="button" class="btn btn-secondary"  >XOA</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
       
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete');
        // When dialog confirm clicked
        $('#exampleModal').on('show.bs.modal', function (event) {//khi su kien cua bootstrap model arise, function thuc thi 
            var button = $(event.relatedTarget);
            courseId = button.data('id');
            //console.log(courseId)
        });
         
        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>