<div class='mt-4'>
    <div class='row'>
        {{#each course}}
            <div class='col-sm-6 col-lg-4 d-flex align-items-stretch'>
                <div class='card card-course-item'>
                    <a href='/courses/{{this.slug}}'>
                        {{! <img src="..." class="card-img-top" alt="..."> }}
                        <img
                            class='card-img-top'
                            src='{{this.image}}'
                            alt='{{this.name}}'
                        />
                    </a>
                    <div class='card-body'>
                        <a href='/courses/{{this.slug}}'>
                            <h5 class='card-title'>{{this.name}}</h5>
                        </a>
                        <p class='card-text'>{{this.description}}</p>
                        <a
                            href='/courses/{{this.slug}}'
                            class='btn btn-primary'
                        >Check hàng</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>