<div class='mt4'>
    <div class='position-absolute top-500 end-0' style="width: 18rem;">
            <h5>You may also like</h5>
                {{#each courses}}
                    <div class='col-sm-6 col-lg-4 d-flex align-items-stretch'  style="width: 12rem;">
                        <div class='card card-course-item'>
                            <a href='/courses/{{this.slug}}'>
                                {{! <img src="..." class="card-img-top" alt="..."> }}
                                <img
                                    class='card-img-top'
                                    src='{{this.image}}'
                                    alt='{{this.name}}'
                                />
                            </a>
                            <p>{{this.name}}</p>
                        </div>
                    </div>
                {{/each}}
    </div>
    <div class='col-lg-9'>
        <h3>{{course.name}}</h3>
        <div class='container h-100 d-flex justify-content-center'>
            <iframe
                width='932'
                height='524'
                src='https://www.youtube.com/embed/{{course.videoId}}'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                allowfullscreen
            ></iframe>
        </div>
        <h4>description: </h4>
        <div></div>
        <div class='col-lg-11'>
        <p>{{course.description}}</p>
        </div>
    </div>
</div>
{{!-- commentForm --}}
{{!-- <div class='mt-4'>
    <h3>Đăng bình luận</h3>
    <form method='POST' action='/courses/comment'>
        <div class='form-group'>
            <label for='name'>add comment</label>
            <input type="hidden" name="videoID" value="{{course.videoId}}" />
            <input type='text' class='form-control' id='message' name='message' />
        </div>
        <button type='submit' class='btn btn-primary'>Thêm bl</button>
    </form>
</div> --}}

<div class='mt-4'>
    <h3>Đăng bình luận</h3>
    <form method='POST' onsubmit="return doComment(this);">
        <div class='form-group'>
            <label for='name'>add comment</label>
            <input type="hidden" name="videoID" value="{{course.videoId}}" />
            <input type='text' class='form-control' id='message' name='message' />
        </div>
        <button type='submit' class='btn btn-primary'>Thêm bl</button>
    </form>
</div>

<script>
    function doComment(form) {
        $.ajax({
            url: "/courses/comment",
            method: "POST",
            data: {message: form.message.value, videoID: form.videoID.value},
            success: response => {
                $('#comment tr').remove()
                for(let data of response) {
                    $('#comment').append("<tr><th><p>"+'written by: ' + data.name + 'message: ' + data.message+"</p></th></tr>")
                }
            }
        });
        return false;
    }
</script>

<table id = 'comment'>
    <h5>here are comments</h5>
    {{#each comment}}
    <tr><th>
          <p>written by: {{this.name}}, message: {{this.message}}</p>
    </th></tr>
    {{/each}}
</table>